<h1><%= current_user.name %></h1>
<div class="messaging">
  <div class="inbox_msg">
    <div class="mesgs">
      <div class="msg_history" id="messages"
				current_user = <%= current_user.id %>
				room_id = <%= @room.id %>>
        <%= render @messages %>       
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input id="user_id" name="user_id" type="hidden" value=<%= current_user.id %> />
          <input type="text" class="write_msg js-message-content" placeholder="Type a message" />
        </div>
      </div>
    </div>
  </div>
</div>
